[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service
 
[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
Environment="ETCD_NAME={{ inventory_hostname }}"
Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="ETCD_LISTEN_CLIENT_URLS=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379"
Environment="ETCD_ADVERTISE_CLIENT_URLS=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379"
Environment="ETCD_LISTEN_PEER_URLS=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380"
Environment="ETCD_INITIAL_CLUSTER={% for host in etcd_nodes %}
{{ host }}=http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}
{% endfor %}
" 
Environment="ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_name }}-token"
Environment="ETCD_INITIAL_CLUSTER_STATE=new"
 
ExecStart={{ etcd_unarchive_prefix }}/etcd

[Install]
WantedBy=multi-user.target
